section.section.about
  .about__left
    svg(
      viewBox="0 0 1000 100"
      preserveAspectRatio="none"
      class="about__triangle about__triangle--white")
      polygon(points="0,0 0,100 1000,100")
    .about__left-content
      .about__section-title
        .title.title--about
          | Обо мне
      .about__user
        .about__user-picture
          img(src="static/img/content/user-big.jpg").about__user-img
        .about__user-title
          .subtitle
            | Кто я
        .about__user-text
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, possimus.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, possimus.
  .about__right
    svg(
      viewBox="0 0 1000 100"
      preserveAspectRatio="none"
      class="about__triangle about__triangle--beige")
      polygon(points="0,100 1000,100 1000,0")
    .about__right-content
      .about__data-description
        .about__data-title
          .subtitle
            | Чем я могу быть #[br] вам полезен
        .about-data__text
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, itaque?
      ul.skills
        each skill in skills
          each skillsArray, skillName in skill
            li.skills__item
              .skill-section
                .skill-section__title= skillName
                ul.skill-section__list
                  each skillTitle in skillsArray
                    li.skills-section__item
                      .skill
                        svg(viewbox="0 0 100 100" preserveAspectRatio="none").skill__circle
                          circle(cx="50" cy="50" r="40").skill__circle-under
                          circle(cx="50" cy="50" r="40").skill__circle-above
                        .skill__name= skillTitle